.GameBoard {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  list-style: none;
}

.GameBoarditems {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.GameBoardCols {
  list-style: none;
  padding: 0;
  margin: 0;
}

.GameBoardbtns {
  padding: 15px;
}

.GameBoardBtn {
  width: 100px;
  height: 100px;
  padding: 50px;
  background-color: gray;
  border: none;
  font-size: 40px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}