.playerr {
  /* display: flex; */
  /* justify-content: space-between; */
  width: 100%;
  /* gap: 20px; */
}
.playerSymbol{
  margin-left: 30px;
}

.pDetails {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  /* width: 30%; */
  /* gap: 20px; */
}

.buttonn {
  padding: 3px 10px;
  color: grey;
  cursor: pointer;
  background-color: rgb(58, 54, 54);
  border: none;
  border: 1px solid rgb(51, 49, 49);
}

.inputPlayer {
  background-color: rgb(58, 54, 54);
  border: none;
  border: 1px solid rgb(68, 63, 63);
  /* padding: 5px 0px; */
  outline: none;
  width: 100px;
}
li{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 10px;
}

#player.players li.active{
  border: 1px solid #f6e35a;
}

li.active {
  border: 2px solid #f6e35a;
  animation: pulse 2s infinite ease-in-out;
}
