.gameBoard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(58, 54, 54);
  width: 40%;
  height: 30rem;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
}

.gameContainer {
  list-style: none;
}

.players {
  display: flex;
  width: 100%;
  gap: 30px;
}